<% include ../partials/header.ejs %>

<div class="container transaction">
  <div class="col-xs-12 col-md-8 col-md-offset-2 transaction-card">
    <form name="transactionForm" method="post" action="/transaction/send">

      <input type="hidden" name="id" value="<%= id %>" />
      <input type="hidden" name="amount" value="<%= amount %>" />

      <div class="row">
        <span class="col-xs-12 col-md-12">Transaction</span>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <label>Cardnumber</label>

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Card Number" name="cardNumber"/>
          </div>
        </div>
      </div>

        <button class="btn btn-transaction btn-submit pull-right" type="submit">Submit</button>

        <a href='/' class="btn btn-transaction btn-cancel pull-right">Cancel</a>
    </form>
  </div>
</div>

<% include ../partials/footer.ejs %>

